@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2b2b2b;
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 650px;
}

header {
  position: relative;
  text-align: center;
  background-image: url("./img/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 8.3em;
}

header .header__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  padding: 1em 0;
}

header .header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header input:hover {
  cursor: pointer;
}

header .header__search {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2b2b2b;
  border: none;
  border-radius: 16px 0 0 16px;
  width: 82%;
  max-width: 550px;
  min-height: 100%;
  outline: none;
  padding: 1em 1.2em;
}

header .header__search::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #969696;
}

header .header__search:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #969696;
}

header .header__search::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #969696;
}

header .header__search::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #969696;
}

header .header__submit {
  border: none;
  background-color: black;
  padding: 1.6em;
  border-radius: 0 16px 16px 0;
}

header .header__submit:hover {
  background-color: #2b2b2b;
}

header .results {
  font-family: "Rubik", sans-serif;
  position: absolute;
  bottom: -55%;
  right: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
  -webkit-box-shadow: 0 10px 35px rgba(121, 120, 120, 0.4);
          box-shadow: 0 10px 35px rgba(121, 120, 120, 0.4);
  border-radius: 16px;
  padding: 1.5em 0;
}

header .results__title {
  font-size: .6rem;
  font-weight: 700;
  color: #969696;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .8em;
}

header .results__result {
  font-size: 1.2rem;
  font-weight: 700;
}

header .results__result:not(.results__result--isp) {
  margin-bottom: 1.1em;
}

.mapId2 {
  height: 80vh;
  z-index: 1;
}

.leaflet-container { height: 100%; }

@media (max-width: 360px) {
  header .header__search {
    font-size: 1rem;
    min-height: 100%;
  }
  header .header__submit {
    padding: 1.2em;
    border-radius: 0 16px 16px 0;
  }
  header .results {
    bottom: -60%;
  }
  header .results__section {
    padding: 0 1.5em;
  }
}

@media (min-width: 750px) {
  .container {
    max-width: 1100px;
  }
  header .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    bottom: -25%;
    text-align: left;
    padding: 2.5em 0;
  }
  header .results__section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 77px;
    overflow-y: auto;
    padding-left: 1.3em;
  }
  header .results__section:not(.results__section:last-of-type) {
    border-right: 1px solid #d9d9d9;
  }
  header .results__section:last-of-type {
    padding-right: 1.3em;
  }
  header .results__title {
    font-size: .8rem;
    margin-bottom: 1em;
  }
  header .results__result {
    font-size: 1.2rem;
  }
  header .results__result:not(.results__result--isp) {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  header .header__title {
    font-size: 1.9rem;
  }
  header .results {
    padding: 3em 0;
    bottom: -28%;
  }
  header .results__section {
    padding: 0 1.7em;
  }
  header .results__result {
    font-size: 1.3rem;
  }
}

@media (min-width: 1500px) {
  header .header__title {
    padding-top: 1.5em;
  }
  header .results {
    padding: 3.5em 0;
  }
}
/*# sourceMappingURL=main.css.map */